In [ ]:
from sqlalchemy import create_engine, Integer, String, Float, DateTime, ForeignKey
from sqlalchemy.orm import DeclarativeBase, mapped_column, relationship, sessionmaker
from datetime import datetime

## viena lentele - projektai

In [ ]:
db_engine = create_engine('sqlite:///projektai.db', echo=True)

In [ ]:
from typing import Any


class Base(DeclarativeBase):
    pass


class Projektas(Base):
    __tablename__ = "projektas"
    id = mapped_column(Integer, primary_key=True)
    name = mapped_column(String(50), nullable=False)
    price = mapped_column(Float(2), nullable=False)
    created = mapped_column(DateTime, default=datetime.utcnow)

    def __init__(self, **kw: Any):
        # super().__init__(**kw)
        for key, value in kw.items():
            setattr(self, key, value)
    
    def __repr__(self) -> str:
        return f"({self.id}, {self.name}, {self.price}, {self.created})"

In [20]:
Base.metadata.create_all(db_engine)

2023-05-10 14:34:52,663 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 14:34:52,666 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("projektas")
2023-05-10 14:34:52,667 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-10 14:34:52,669 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("projektas")
2023-05-10 14:34:52,670 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-10 14:34:52,673 INFO sqlalchemy.engine.Engine
CREATE TABLE projektas (
	id INTEGER NOT NULL,
	name VARCHAR(50) NOT NULL,
	price FLOAT NOT NULL,
	created DATETIME,
	PRIMARY KEY (id)
)


2023-05-10 14:34:52,673 INFO sqlalchemy.engine.Engine [no key 0.00078s] ()
2023-05-10 14:34:52,680 INFO sqlalchemy.engine.Engine COMMIT

In [21]:
from sqlalchemy.orm import Session

In [22]:
with Session(db_engine) as session:
    python_1 = Projektas(name="Python Kursai Pradedantiesiems", price=2000)
    session.add(python_1)
    session.commit()

2023-05-10 14:58:34,554 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 14:58:34,558 INFO sqlalchemy.engine.Engine INSERT INTO projektas (name, price, created) VALUES (?, ?, ?)
2023-05-10 14:58:34,560 INFO sqlalchemy.engine.Engine [generated in 0.00212s] ('Python Kursai Pradedantiesiems', 2000.0, '2023-05-10 11:58:34.558563')
2023-05-10 14:58:34,562 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
with Session(db_engine) as session:
    db_1 = Projektas(name="Duomenų Bazių su Python kursas", price=5000)
    frontas = Projektas(name="Frontendo kursai: HTML, CSS", price=1500)
    django = Projektas(name="Django kursas", price=7000)
    session.add_all([db_1, frontas, django])
    session.commit()

2023-05-10 15:01:32,850 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:01:32,852 INFO sqlalchemy.engine.Engine INSERT INTO projektas (name, price, created) VALUES (?, ?, ?)
2023-05-10 15:01:32,853 INFO sqlalchemy.engine.Engine [cached since 178.3s ago] ('Duomenų Bazių su Python kursas', 5000.0, '2023-05-10 12:01:32.852176')
2023-05-10 15:01:32,854 INFO sqlalchemy.engine.Engine INSERT INTO projektas (name, price, created) VALUES (?, ?, ?)
2023-05-10 15:01:32,855 INFO sqlalchemy.engine.Engine [cached since 178.3s ago] ('Frontendo kursai: HTML, CSS', 1500.0, '2023-05-10 12:01:32.854908')
2023-05-10 15:01:32,857 INFO sqlalchemy.engine.Engine INSERT INTO projektas (name, price, created) VALUES (?, ?, ?)
2023-05-10 15:01:32,858 INFO sqlalchemy.engine.Engine [cached since 178.3s ago] ('Django kursas', 7000.0, '2023-05-10 12:01:32.857173')
2023-05-10 15:01:32,859 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
with Session(db_engine) as session:
    projektai = session.query(Projektas).all()

2023-05-10 15:04:12,144 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:04:12,147 INFO sqlalchemy.engine.Engine SELECT projektas.id AS projektas_id, projektas.name AS projektas_name, projektas.price AS projektas_price, projektas.created AS projektas_created
FROM projektas
2023-05-10 15:04:12,147 INFO sqlalchemy.engine.Engine [generated in 0.00067s] ()
2023-05-10 15:04:12,150 INFO sqlalchemy.engine.Engine ROLLBACK

In [27]:
print(projektai)

[(1, Python Kursai Pradedantiesiems, 2000.0, 2023-05-10 11:58:34.558563), (2, Duomenų Bazių su Python kursas, 5000.0, 2023-05-10 12:01:32.852176), (3, Frontendo kursai: HTML, CSS, 1500.0, 2023-05-10 12:01:32.854908), (4, Django kursas, 7000.0, 2023-05-10 12:01:32.857173)]

In [28]:
for projektas in projektai:
    print(projektas)

(1, Python Kursai Pradedantiesiems, 2000.0, 2023-05-10 11:58:34.558563)
(2, Duomenų Bazių su Python kursas, 5000.0, 2023-05-10 12:01:32.852176)
(3, Frontendo kursai: HTML, CSS, 1500.0, 2023-05-10 12:01:32.854908)
(4, Django kursas, 7000.0, 2023-05-10 12:01:32.857173)

In [29]:
with Session(db_engine) as session:
    django_kursas = session.query(Projektas).filter_by(name="Django kursas").one()
print(django_kursas)

2023-05-10 15:06:45,221 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:06:45,224 INFO sqlalchemy.engine.Engine SELECT projektas.id AS projektas_id, projektas.name AS projektas_name, projektas.price AS projektas_price, projektas.created AS projektas_created
FROM projektas
WHERE projektas.name = ?
2023-05-10 15:06:45,225 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ('Django kursas',)
2023-05-10 15:06:45,228 INFO sqlalchemy.engine.Engine ROLLBACK
(4, Django kursas, 7000.0, 2023-05-10 12:01:32.857173)

In [33]:
with Session(db_engine) as session:
    pigus = session.query(Projektas).filter(Projektas.price <= 3000)
    pigus = pigus.order_by(Projektas.price).all()
for projektas in pigus:
    print(projektas.price, projektas.name)

2023-05-10 15:10:38,193 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:10:38,196 INFO sqlalchemy.engine.Engine SELECT projektas.id AS projektas_id, projektas.name AS projektas_name, projektas.price AS projektas_price, projektas.created AS projektas_created
FROM projektas
WHERE projektas.price <= ? ORDER BY projektas.price
2023-05-10 15:10:38,197 INFO sqlalchemy.engine.Engine [cached since 53.37s ago] (3000,)
2023-05-10 15:10:38,199 INFO sqlalchemy.engine.Engine ROLLBACK
1500.0 Frontendo kursai: HTML, CSS
2000.0 Python Kursai Pradedantiesiems

In [43]:
with Session(db_engine) as session:
    kursai = session.query(Projektas)
    kursai = kursai.filter(Projektas.name.ilike("%Python%")).all()
for kursas in kursai:
    print(kursas)

2023-05-10 15:17:57,038 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:17:57,040 INFO sqlalchemy.engine.Engine SELECT projektas.id AS projektas_id, projektas.name AS projektas_name, projektas.price AS projektas_price, projektas.created AS projektas_created
FROM projektas
WHERE lower(projektas.name) LIKE lower(?)
2023-05-10 15:17:57,042 INFO sqlalchemy.engine.Engine [cached since 256s ago] ('%Python%',)
2023-05-10 15:17:57,046 INFO sqlalchemy.engine.Engine ROLLBACK
(1, Python Kursai Pradedantiesiems, 4000.0, 2023-05-10 11:58:34.558563)
(2, Duomenų Bazių su Python kursas, 5000.0, 2023-05-10 12:01:32.852176)

In [40]:
with Session(db_engine) as session:
    kursai = session.query(Projektas)
    kursai = kursai.filter(Projektas.name.ilike("%Python%")).all()
    kursai[0].price = 4000
    print(kursai[0])
    session.commit()

2023-05-10 15:16:45,712 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:16:45,715 INFO sqlalchemy.engine.Engine SELECT projektas.id AS projektas_id, projektas.name AS projektas_name, projektas.price AS projektas_price, projektas.created AS projektas_created
FROM projektas
WHERE lower(projektas.name) LIKE lower(?)
2023-05-10 15:16:45,716 INFO sqlalchemy.engine.Engine [cached since 184.7s ago] ('%Python%',)
(1, Python Kursai Pradedantiesiems, 4000, 2023-05-10 11:58:34.558563)
2023-05-10 15:16:45,721 INFO sqlalchemy.engine.Engine UPDATE projektas SET price=? WHERE projektas.id = ?
2023-05-10 15:16:45,722 INFO sqlalchemy.engine.Engine [generated in 0.00132s] (4000.0, 1)
2023-05-10 15:16:45,723 INFO sqlalchemy.engine.Engine COMMIT

In [44]:
with Session(db_engine) as session:
    print(projektas)
    projektas.price = 3000
    session.commit()

(1, Python Kursai Pradedantiesiems, 3000, 2023-05-10 11:58:34.558563)

In [45]:
from sqlalchemy.orm import sessionmaker
session = sessionmaker(bind=db_engine)()

projektas = session.query(Projektas).filter(Projektas.name.like("%Django%")).one()
print(projektas)

2023-05-10 15:21:56,778 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-10 15:21:56,781 INFO sqlalchemy.engine.Engine SELECT projektas.id AS projektas_id, projektas.name AS projektas_name, projektas.price AS projektas_price, projektas.created AS projektas_created
FROM projektas
WHERE projektas.name LIKE ?
2023-05-10 15:21:56,782 INFO sqlalchemy.engine.Engine [generated in 0.00103s] ('%Django%',)
(4, Django kursas, 7000.0, 2023-05-10 12:01:32.857173)

In [46]:
projektas.price = 7775
session.commit()

2023-05-10 15:22:29,747 INFO sqlalchemy.engine.Engine UPDATE projektas SET price=? WHERE projektas.id = ?
2023-05-10 15:22:29,752 INFO sqlalchemy.engine.Engine [cached since 344s ago] (7775.0, 4)
2023-05-10 15:22:29,755 INFO sqlalchemy.engine.Engine COMMIT

## susijusios lenteles - tevai/vaikai

In [6]:
from typing import Any


class Base(DeclarativeBase):
    pass

In [8]:
engine = create_engine('sqlite:///m21_seima.db')
session = sessionmaker(bind=engine)()

In [9]:
class Tevas(Base):
    __tablename__ = "tevas"
    id = mapped_column(Integer, primary_key=True)
    vardas = mapped_column("vardas", String(50))
    pavarde = mapped_column("pavarde", String(50))
    vaikai = relationship("Vaikas", back_populates="tevas")


class Vaikas(Base):
    __tablename__ = "vaikas"
    id = mapped_column(Integer, primary_key=True)
    vardas = mapped_column("vardas", String(50))
    pavarde = mapped_column("pavarde", String(50))
    mokykla = mapped_column("mokykla", String(50))
    tevas_id = mapped_column(Integer, ForeignKey("tevas.id"))
    tevas = relationship("Tevas", back_populates="vaikai")


Base.metadata.create_all(engine)

In [10]:
kestutis = Tevas(vardas="Kestutis", pavarde="J")
emilija = Vaikas(vardas="Emilija", pavarde="J", mokykla="gera", tevas=kestutis)
maja = Vaikas(vardas="Maja", pavarde="J")
marco = Vaikas(vardas="Marco", pavarde="J")
kestutis.vaikai.append(maja)
marco.tevas = kestutis
session.add_all([kestutis, emilija, maja, marco])
session.commit()

In [26]:
tevas = session.query(Tevas).first()
print(tevas.vardas)

Kestutis

In [27]:
for vaikas in tevas.vaikai:
    print(vaikas.vardas, vaikas.pavarde)

Marco J

In [14]:
tevas.vaikai[1].pavarde = "Ja"
session.commit()

In [25]:
visi_vaikai = session.query(Vaikas).all()
for vaikas in visi_vaikai:
    print(vaikas.vardas, vaikas.tevas)

Emilija None
Maja None
Marco <__main__.Tevas object at 0x7fa1aad07d00>

In [22]:
tevas.vaikai.remove(visi_vaikai[1])
session.commit()

In [ ]:
visi_vaikai[0].tevas = None
session.commit()