# Pandas užduotys 3

In [2]:
import numpy as np
import pandas as pd

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

In [3]:
html = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
html[1].head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

In [4]:
salys = html[1]

In [5]:
salys.to_csv('salys.csv', index=False)
salys.to_excel('salys.xlsx', 'Sheet1', index=False)

from sqlalchemy import create_engine
engine = create_engine('sqlite:///salys.db')
salys.to_sql('salys', con=engine, index=False)

32

# 3 Nuskaitykite į DF šį [failą](https://github.com/robotautas/kursas/blob/master/Pandas/top_20_CA_wildfires.csv)

In [6]:
gaisrai = pd.read_csv('top_20_CA_wildfires.csv')
gaisrai.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

In [7]:
len(gaisrai['cause'].unique())

5

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

In [8]:
gaisrai['cause'].value_counts()

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

# 6 Kuriais metais buvo daugiausia gaisrų?

In [16]:
gaisrai['year'].value_counts().idxmax()

2018

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

In [20]:
gaisrai['deaths'].value_counts().drop(0).sum()

10

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

In [21]:
gaisrai.sort_values('year', ascending=False).head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [41]:
def men_i_skaiciu(menesis):
    menesiai = {'January': 1,
     'February': 2,
     'March': 3,
     'April': 4,
      'May': 5,
      'June': 6,
      'July': 7,
      'August': 8,
      'September': 9,
      'October': 10,
      'November': 11,
      'December': 12}
    return menesiai[menesis]

men_i_skaiciu('December')

12

In [42]:
gaisrai['month'] = gaisrai['month'].apply(men_i_skaiciu)
gaisrai.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [44]:
data = pd.read_html('https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus')
miestai = data[0]
miestai.head()

,Eilė,Miestas,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.,Tankumas (2019)
0,1,Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*,1374 žm./km²
1,2,Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*,1843 žm./km²
2,3,Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100,1356 žm./km²
3,4,Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*,1251 žm./km²
4,5,Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*,1590 žm./km²

In [ ]:
miestai.info()

In [ ]:
miestai.set_index('Miestas', inplace=True)
col_list = miestai.columns.tolist()
col_list